# Descriptive Statistics

* Mean, Median, Mode
* Standard Deviation & Variance
* Skewness & Kurtosis
* Range, Interquartile Range (IQR)
* Percentiles & Quartiles

In [8]:
#!pip3 install ucimlrepo

##  UCIMLrepo
This Heart Disease data set comes from the UC Irvine Machine Learning Repo.  It falls under the CCA 4.0 International License.
The repo represents 4 databases: Cleveland, Hungry Switzerland and VA Long Beach

See: https://github.com/uci-ml-repo/ucimlrepo for further documentation.

In [9]:
from ucimlrepo import fetch_ucirepo, list_available_datasets

In [10]:
# Uncomment to run a list of datasets
#list_available_datasets()

In [11]:
heart_disease = fetch_ucirepo(id=45)
#this is in a dictionary format

In [12]:
#Creates a data frame of 303 rows and 13 columns
hd_df = heart_disease.data.features

In [13]:
y = heart_disease.data.targets

In [14]:
hd_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0

## Mean, Median, Mode

### Mean

In [15]:
print(f'The mean is: {hd_df.trestbps.mean().round(2)}')

                  # OR

mean = (hd_df.trestbps.sum()/len(hd_df)).round(2) # Where hd_df.trestbps is a numpy array or series divided by the length
mean

The mean is: 131.69

131.69

### Median is calculated by finding the middle data point of a list if the number is odd 
### or the average of two data points in the middle if the number is even

In [16]:
print(f'The median is: {hd_df.trestbps.median()}')

The median is: 130.0

In [20]:
def median_calc(series):
    # Sort the number in the series or array
    series_sort = series.sort_values().reset_index(drop=True)
    
    # Get length of series.  We are checking to see if it is odd or even
    n = len(series_sort)
    
    # If the array is odd, the number inbetween is used
    if n % 2 !=0: # modulas operator used to return remainder
        return series_sort[n//2] # perform floor division and gets the element in the middle
    
    # returns the average of the two middle numbers
    else:
        left_number = series_sort[(n-1) // 2] # Gets the middle left number
        right_number = series_sort[n // 2] # Gets the middle right number
        return (left_number + right_number) / 2 # averages the two numbers
    
series = hd_df.trestbps
print(f'The median is: {median_calc(series)}')

The median is: 130

## Mode

In [21]:
print(f'The mode is: {hd_df.trestbps.mode()}')

The mode is: 0    120
Name: trestbps, dtype: int64

In [22]:
def mode_calculation(series):
    value_counts = series.value_counts() # which value has the highest counts ( how many times does it occur)
    
    max_numbers = value_counts.max()
    
    return value_counts[value_counts == max_numbers].index.tolist()

In [23]:
series = hd_df.trestbps
print((mode_calculation(hd_df.trestbps)))

mode_checker = hd_df['trestbps'].value_counts()[:1]
print(mode_checker)

[120]
120    37
Name: trestbps, dtype: int64