# Descriptive Statistics

* Mean, Median, Mode
* Standard Deviation & Variance
* Skewness & Kurtosis
* Range, Interquartile Range (IQR)
* Percentiles & Quartiles

In [1]:
#!pip3 install ucimlrepo

Defaulting to user installation because normal site-packages is not writeable
Collecting ucimlrepo
  Obtaining dependency information for ucimlrepo from https://files.pythonhosted.org/packages/85/8b/aab8a1c1344af158feb0b7f13d15ae184bc1e93625cea98d9c783b2e29d4/ucimlrepo-0.0.2-py3-none-any.whl.metadata
  Downloading ucimlrepo-0.0.2-py3-none-any.whl.metadata (5.3 kB)
Downloading ucimlrepo-0.0.2-py3-none-any.whl (7.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.2

##  UCIMLrepo
This Heart Disease data set comes from the UC Irvine Machine Learning Repo.  It falls under the CCA 4.0 International License.
The repo represents 4 databases: Cleveland, Hungry Switzerland and VA Long Beach

See: https://github.com/uci-ml-repo/ucimlrepo for further documentation.

In [2]:
from ucimlrepo import fetch_ucirepo, list_available_datasets

In [4]:
# Uncomment to run a list of datasets
#list_available_datasets()

In [12]:
heart_disease = fetch_ucirepo(id=45)
#this is in a dictionary format

In [18]:
#Creates a data frame of 303 rows and 13 columns
hd_df = heart_disease.data.features

In [19]:
y = heart_disease.data.targets

In [39]:
hd_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False

## Mean, Median, Mode

Now for the basics

In [30]:
print(f'The mean is: {hd_df.trestbps.mean().round(2)}')

                  # OR

mean = (hd_df.trestbps.sum()/len(hd_df)).round(2) # Where hd_df.trestbps is a numpy array or series divided by the length
mean

The mean is: 131.69

131.69

In [33]:
print(f'The median is: {hd_df.trestbps.median()}')
           
                  # OR
# Median is calculated by finding the middle data point of a list if the number is odd 
# or the average of two data points in the middle if the number is even

The median is: 130.0

In [37]:
def median_calc(series):
    # Sort the number in the series or array
    series_sort = series.sort_values().reset_index(drop=True)
    
    # Get length of series.  We are checking to see if it is odd or even
    n = len(series_sort)
    
    # If the array is odd, the number inbetween is used
    if n % 2 !=0: # modulas operator used to return remainder
        return series_sort[n//2] # perform floor division and gets the element in the middle
    
    # returns the average of the two middle numbers
    else:
        left_number = series_sort[(n-1) // 2] # Gets the middle left number
        right_number = series_sort[n // 2] # Gets the middle right number
        return (left_number + right_number) / 2 # averages the two numbers
    
series = hd_df.trestbps
print(median_calc(series))

130

In [38]:
print(f'The mode is: {hd_df.trestbps.mode()}')

The mode is: 0    120
Name: trestbps, dtype: int64

In [48]:
def mode_calculation(series):
    value_counts = series.value_counts() # which value has the highest counts ( how many times does it occur)
    
    max_numbers = value_counts.max()
    
    return value_counts[value_counts == max_numbers].index.tolist()

In [56]:
series = hd_df.trestbps
print((mode_calculation(hd_df.trestbps)))

mode_checker = hd_df['trestbps'].value_counts()[:1]
print(mode_checker)

[120]
120    37
Name: trestbps, dtype: int64